.config-container {
    text-align: center;
    padding: 40px; /* Aumentar el espacio alrededor del contenido */
    background-color: #F9F9F9; /* Utilizar un tono más suave de gris */
    border-radius: 10px; /* Aumentar el radio de los bordes */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Sombras más suaves */
    max-width: 600px; /* Limitar el ancho máximo del contenedor */
    margin: 0 auto; /* Centrar horizontalmente */
}

.titlePin {
    background-color: #E0E0E0; /* Utilizar un tono más suave de blanco */
    padding: 10px; /* Incrementar el relleno */
    border-radius: 10px; /* Aumentar el radio de los bordes */
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1); /* Sombras más suaves */
    font-size: 18px; /* Incrementar el tamaño de la fuente */
    margin-bottom: 30px; /* Reducir la separación entre este elemento y el siguiente */
}

.config-box {
    padding: 30px; /* Aumentar el relleno */
    background-color: #FFFFFF; /* Fondo blanco */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Sombras más suaves */
}

.MuiFormControl-root {
    margin-bottom: 20px; /* Añadir espacio entre los TextField */
}

.MuiButton-root {
    width: 150px; /* Ajustar el ancho del botón */
    height: 40px; /* Ajustar la altura del botón */
    font-size: 14px; /* Incrementar el tamaño de la fuente del botón */
    margin: 10px; /* Agregar margen entre los botones */
}


